<div class="container">
    <h2 class="title">مشخصات کامل کاربر </h2>
    <p class="info">در این بخش میتونید تدوین اضافه کنید با پر کردن اطلاعات زیر و فشردن دکمه ثبت </p>
    <a routerLink="/" class="view-back">بارگشت</a>
</div>




<div class="view-container" *ngIf="!loading  && isNotEmpty()">
    <div class="view-pic">
        <img class="view-img" [src]="contact.photo" alt="">
    </div>
    <div class="view-info">
        <ul class="cards-list">
            <li>اسم:<span>{{contact.name}}</span></li>
            <li>ایمیل:<span>{{contact.email}}</span></li>
            <li>شماره:<span>{{contact.mobile}}</span></li>
            <li>عنوان:<span>{{contact.title}}</span></li>
            <li>آدرس:<span>{{contact.address}}</span></li>

        </ul>
    </div>

</div>