<div class="container">
    <h2 class="title">مشخصات کامل کاربر </h2>
    <p class="info">در این بخش میتونید تدوین اضافه کنید با پر کردن اطلاعات زیر و فشردن دکمه ثبت </p>
    <a routerLink="/" class="view-back">بارگشت</a>
</div>

<div class="view-container">
    <div class="view-pic">
        <img class="view-img" src="../../../assets/nima.jpg" alt="">
    </div>
    <div class="view-info">
        <ul class="cards-list">
            <li>اسم:<span>نیما احمدی</span></li>
            <li>ایمیل:<span>nimaa.ahmadi.512@gmail.com</span></li>
            <li>شماره:<span>09375707602</span></li>
            <li>شرکت:<span>ماهر افزار</span></li>
            <li>عنوان:<span> احمدی</span></li>
            <li>گروه:<span>کارمند</span></li>
        </ul>
    </div>
  
</div>







