@import '../../../styles.scss';

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $card-color;
    border-radius: $border-radius-md;
    width: 100%;
    max-width: 50%;
    margin: 2.5rem auto;

}
.cards-img {
    margin: 2rem 1rem 2rem 0.5rem;
    width: 17rem;
    border-radius: $border-radius-sm;
    object-fit: contain;
}

.view-info{
    width: 70%;
    margin: 1rem 0.5rem 0 2rem;

}

.item {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius:  $border-radius-sm;  
    margin-bottom: 0.7rem;
    gap: 0.5rem;
    padding: 0 0.8rem;
}


.back-btn {
    @include flexCenter;
    max-width: 20%;
    background-color: $btn-color;
    font-size: 2rem;
    font-weight: 800;
    height: 4rem;
    border-radius: $border-radius-md;
    transition: all 0.5;

    &:hover {
        box-shadow: 0px 2px 10px 5px rgba(0, 183, 255, 0.3);
    }
}
