@import '../../../styles.scss';

.navbar-container {
    @include container;
    @include flexCenter;
    flex-direction: row;
    height: 6rem;
    margin: 2rem auto 3rem auto;
    background-color: $header-color;
    gap: $gap-md;
    border-radius: $border-radius-md;
}

.navbar-header {
    font-size: $text-size-lg;
    font-weight: 700;
}

.logo {
    margin-left: 0.5rem;
    width: 3rem;
}