
*{
    font-family: 'mikhak', sans-serif;

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    transition: all 0.2s;
    direction: rtl;
}

a {
    text-decoration: none;
}

li {

    list-style: none;
}