* {
    outline: 0;
    font-family: 'lattef' , sans-serif;
    font-weight: 900;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    direction: rtl;
}


a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}