<div class="container">
    <h2 class="title">میدیریت مخاطبین</h2>
    <p class="info">با استفاده از این اپ میتونید مخاطبین خود را مدیریت کنید از جمله پاک کردن اضافه کردن ادیت کردن و </p>
</div>

<!-- search btn and new btn-->
<form class="container  fixings">
    <input class="search-bar" type="search" placeholder="جست و جو کنید">
    <input class="btn-submit" type="submit" value="جست و جو">
    <a href="/contact/add" class="new-btn">جدید</a>
</form>


<!-- contacts-->

<div></div>


<!-- contacts-->


<!-- contacts-->
<div class="contact-containers">

    <section *ngFor="let contact of contacts">
        <div class="cards-container" *ngIf="!loading && contacts.length > 0 ">

            <div class="cards-right">
                <img class="cards-img" [src]="contact.photo" alt="">
            </div>
            <div class="cards-middle">
                <ul class="cards-list">
                    <li>اسم:<span>{{contact.name}} </span></li>
                    <li>ایمیل:<span>{{contact.email}}</span></li>
                    <li>شماره:<span>{{contact.mobile}}</span></li>
                </ul>
            </div>
            <div class="cards-left">
                <a class="cards-btn  yellow" routerLink="/contact/view/contactId">مشاهده</a>
                <a class="cards-btn  green" routerLink="/contact/edit/contactId">تدوین</a>
                <a class="cards-btn  red">حذف</a>
            </div>
        </div>

    </section>

</div>