.container {
    width: 100%;
    max-width: 75%;
    margin: 1px auto;
    direction: rtl;
    align-items: center;
}

.title {
    margin: 1.5rem 0rem;
    font-size: 3rem;
}

.info {
    font-size: 1.5rem;
}

.fixings {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
}

.search-bar {
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: 20rem;
    height: 3rem;

}

.btn-submit {
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem;
    background-color: rgb(231, 234, 235);
    border-radius: 0.7rem;
    cursor: pointer;
}

.new-btn {
    margin-right: 1.5rem;
    color: white;
    font-size: 1.4rem;
    padding: 0.7rem 1.8rem;
    background-color: rgba(41, 91, 109, 0.8);
    border-radius: 0.7rem;
    border-style: none;
    cursor: pointer;
}





.contact-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    direction: rtl;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;

}

.cards-container {
    border-radius: 1rem;
    box-shadow: 2px 5px 15px rgba(148, 177, 187, 0.8);
    display: flex;
    background-color: rgb(203, 221, 226);
    align-items: center;
    height: 15rem;
}

.cards-img {
    width: 12rem;
    height: 12rem;
    margin-right: 1.5rem;
    border-radius: 10rem;
}

.cards-list {
    margin-right: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(144, 174, 170);
    text-align: start;
    font-weight: 600;
    line-height: 3rem;
    font-size: 1.3rem;
}

span {
    margin-right: 1.5rem;
}

.cards-left {
    display: flex;
    row-gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 3rem;
}

.cards-btn {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.red {
    background-color: red;
}

.green {
    background-color: green;

}

.yellow {
    background-color: yellow;

}