@import '../../../styles.scss';

.search-container {
  @include flexCenter;
  flex-direction: row;
  gap: $gap-xsm;

}

.search-bar {

  font-size: 1.3rem;
  border-radius: $border-radius-md;
  border-style: none;
  padding: 0 3rem;
  width: 50rem;
  height: 4rem;
  color: $text-color;
  transition: all 0.5s;

  &:focus {
    width: 55rem;
  }

  &::placeholder {
    color: $text-color;
    opacity: 1;
  }


}

.search-icon {
  position: relative;
  right: 50px;

}