/* You can add global styles to this file, and also import other style files */
@import '../src/app/scss/resets';
@import '../src/app/scss/variables';
@import '../src/app/scss/mixins';
@font-face {
    font-family: 'mikhak' , sans-serif;
    font-weight: 500;
    src: url('assets/fonts/mikhak-medium-webfont.woff2')format('woff2'),
    url('assets/fonts/mikhak-medium-webfont.woff')format('woff')   
}
body {
    height: 120vh;
    background-color: $bg-color;
}

.head {
    @include flexCenter;
    @include container;
    color: $white-color;
    line-height: 0%;
    margin-bottom: $margin-lg;

    #{&}-div {
        gap: $margin-lg;
        display: flex;
    }

    #{&}-title {
        font-family: 'mikhak' , sans-serif;

        font-size: $text-size-lg ;
    }
    #{&}-info {
        
        font-family: 'mikhak' , sans-serif;
        font-size: $text-size-md ;
    }

}