<div class="container">
    <h2 class="title">افزودن کاربر جدید </h2>
    <p class="info">در این بخش میتونید کاربر جدید اضافه کنید با پر کردن اطلاعات زیر و فشردن دکمه ثبت </p>
</div>


<form class="add-container  ">
   
    <div class="form-container ">
        <img class="add-img" src="../../../assets/nima.jpg" alt="">

        <input class="search-bar name" type="text" placeholder="نام">
        <input class="search-bar " type="text" placeholder="عکس">
        <input class="search-bar" type="text" placeholder="ایمیل">
        <input class="search-bar" type="number" placeholder="شماره">
        <input class="search-bar" type="text" placeholder="شرکت">
        <input class="search-bar" type="title" placeholder="عنوان">
        <select class="search-bar">
            <option value="">انتخاب گروه</option>
        </select>
        <input class="search-bar" type="submit" placeholder="ثبت">
        <a routerLink="/">بارگشت</a>
    </div>
    
 



</form>