.container {
    width: 100%;
    max-width: 75%;
    margin: 1px auto;
    direction: rtl;
    align-items: center;
    margin-bottom: 3rem;


}

.title {
    margin: 1.5rem 0rem;
    font-size: 3rem;
}

.info {
    font-size: 1.5rem;
}

.form-container {
    width: 100%;
    max-width: 75%;
    direction: rtl;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}

.search-bar {
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: 20rem;
    height: 3rem;

}

.add-container {
    display: flex;
    direction: rtl;

}

.add-img {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
}