<div class="container">
    <h2 class="title">افزودن کاربر جدید </h2>
    <p class="info">در این بخش میتونید کاربر جدید اضافه کنید با پر کردن اطلاعات زیر و فشردن دکمه ثبت </p>
</div>
<form class="add-container " [formGroup]="addForm" (submit)="createSbmit()">

    <div class="form-container ">
        <img class="add-img" [src]="contact.photo" alt="">

        <input [(ngModel)]="contact.name" name="name" class="search-bar name" type="text" placeholder="نام">
        <input [(ngModel)]="contact.photo" name="photo" class="search-bar " type="file" placeholder="عکس">
        <input [(ngModel)]="contact.email" name="email" class="search-bar" type="text" placeholder="ایمیل">
        <input [(ngModel)]="contact.mobile" name="mobile" class="search-bar" type="number" placeholder="شماره">
        <input [(ngModel)]="contact.title" name="title" class="search-bar" type="title" placeholder="عنوان">
        <input [(ngModel)]="contact.address" name="address" class="search-bar" type="text" placeholder="آدرس">
        <input class="search-bar" type="submit" placeholder="ثبت">
        <a routerLink="/">بارگشت</a>
    </div>


</form>