<div class="container">
    <h2 class="title">افزودن کاربر جدید </h2>
    <p class="info">در این بخش میتونید کاربر جدید اضافه کنید با پر کردن اطلاعات زیر و فشردن دکمه ثبت </p>
</div>
<form class="add-container " [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-container ">
        <img class="add-img" [src]="contact.photo"   alt="">


        <input [(ngModel)]="contact.photo" name="photo" class="search-bar " type="text" placeholder="عکس"
            formControlName="photo"   [ngClass]="{ 'is-invalid': submitted && f['photo'].errors }" />
            <div *ngIf="submitted && f['photo'].errors" class="invalid-feedback">
                <div *ngIf="f['photo'].errors['required']">Fullname is required</div>
            </div>

        <input [(ngModel)]="contact.name" name="name" class="search-bar name" type="text" placeholder="نام"
            formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">Fullname is required</div>
            <div *ngIf="f['name'].errors['maxLength']">max is required</div>
        </div>



        <input [(ngModel)]="contact.email" name="email" class="search-bar" type="email" placeholder="ایمیل"
            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">ایمیل وارد نشده</div>
            <div *ngIf="f['email'].errors['email']">ایمیل فرمت درست نداره</div>
        </div>


        <input [(ngModel)]="contact.mobile" name="mobile" class="search-bar" type="number" placeholder="شماره"
            formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" />
        <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
            <div *ngIf="f['mobile'].errors['required']">شماره وارد نشده</div>
            <div *ngIf="f['mobile'].errors['maxLength']">
                شماره یازده رقم
            </div>
        </div>


        <input [(ngModel)]="contact.title" name="title" class="search-bar" type="title" placeholder="عنوان"
            formControlName="title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
        <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors['required']">Usme is required</div>
            <div *ngIf="f['title'].errors['minlength']">
                Ussme must be at least 6 characters
            </div>
            <div *ngIf="f['title'].errors['maxlength']">
                Ussame must not exceed 20 characters
            </div>
        </div>

        <input [(ngModel)]="contact.address" name="address" class="search-bar" type="text" placeholder="آدرس"
            formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
            <div *ngIf="f['address'].errors['required']">Usme is required</div>
            <div *ngIf="f['address'].errors['minlength']">
                Ussme must be at least 6 characters
            </div>
            <div *ngIf="f['address'].errors['maxlength']">
                Ussame must not exceed 20 characters
            </div>
        </div>

        <input class="search-bar" type="submit" placeholder="ثبت">
        <a routerLink="/">بارگشت</a>
    </div>
</form>