@import '../../../styles.scss';

.add-container {
    @include flexCenter;
    @include container;
    margin: 0 auto;

}

.form-container {
    width: 100%;
    max-width: 35%;
}

.label {
    margin-top: $gap-half;
    gap: $gap-half;
    display: flex;
    align-items: center;

    #{&}-svg {
        width: $svg-width-one-half;
    }
}

.header-svg {
    width: $svg-width-two-half;
}

p {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.search-bar {
    width: 100%;
    border-radius: $border-radius-md;
    height: 3rem;
    padding: 0 1rem 0 0;
    font-size: $text-size-one;
    font-weight: 700;
}

.btn {
    @include flexCenter;
    gap: $gap-two;
    margin: 2rem auto;

    #{&}-submit {
        font-weight: 600;
        font-size: $text-size-one-half;
        width: 15rem;
        background-color: $green-color;
        height: 4rem;
        border-radius: $border-radius-md;
    }

    #{&}-back {
        font-weight: 600;
        font-size: $text-size-one-half;
        width: 15rem;
        height: 4rem;
        border-radius: $border-radius-md;
        background-color: $header-color ;
    }
}

.is-invalid {
    border: 3PX solid $red-color;
    color: $red-color ;
    margin: 0.5rem 0;

}

.is-invalid-second {
    color: $red-color ;
    margin: 0.5rem 0;
}

.image-upload-container {
    @include flexCenter;
    flex-direction: column;
    gap: $gap-two;


}

.file-input {
    display: none;
}

.add-img {
    width: 15rem;
    border-radius: $border-radius-md ;
}

label {
    padding: 1rem 3rem 0.5rem 0rem;
    height: 2rem;
    width: 8rem;
    font-weight: 700;
    color: $white-color;
    border: 1px $white-color dashed;
    border-radius: $border-radius-md ;
}